@charset "UTF-8";


body{
            background-color: beige;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
        }

        h1{
            text-align: center;
           color: rgb(8, 8, 150);
           background-color: aquamarine;
        }

        h2 {
            color: rgb(165, 41, 41);
        }

        p {
            text-align: justify;
        }

        